body { font-family: 'Ubuntu', sans-serif;}

header {background-image:url('../img/header-pattern.jpg'); border-top:3px solid #e7e5e6}
.logo{margin-top:40px;}
.logoRight {position:absolute; left:0; top:-1.5px;}
.customContainer{max-width:1366px; margin:auto}
.topMenu a{color:#9a9899; line-height:40px; display:inline-block; margin-left:20px; text-transform:uppercase}
.topMenu a.dropdown-item {margin-left:0px; color: #444; font-size: 13px;
    line-height: 25px;
    margin-left: 0;}
.topMenu a:hover {color:#e33421; text-decoration:none}
.searchBox { margin-top:60px;}
.searchBox input {border:1px solid #e53325; padding:3.4px; font-size:13px; background:none}
.searchBox button { background-color:#e53325; border:2px solid #e53325; color:#fff}
.myNav { padding-right:0}
.myNav .nav-item:last-child a{padding-right:0}
.myNav .nav-item .nav-link{color:#2a2929; font-size:20px; padding-left:1.5rem}
.myNav .nav-item .nav-link:hover{color:#e53424}
.myNav .navbar-toggler {margin-left:auto}
.themeBtn {background-color:#e53424; border:#e53424}
.themeBtn:hover {background-color:#e74132; border:#e74132}
.carousel {text-align: center}
.themeSec1 {background-color:#e8e4e3; padding:40px 0}
.themeSec1 h1 {font-size:20px; color:#333; text-align:center; margin-bottom:25px}
.themeSec1 h2 {font-size:20px; color:#333; text-align:center; margin-bottom:25px}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: -25px!important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 30%;
    right: -25px;
    border:0px solid black;
}
.owl-nav button {outline:none}
.owl-nav button span {font-size:60px; color:#e53424}
.owl-nav button:hover span {font-size:60px; color:#e74132}
.owl-theme .owl-nav [class*="owl-"]:hover {background:none; outline:none}
.caption {
	position: absolute;
	font-weight: 50;
	font-size: 1rem;
	top:44%;
	left: 0;
	padding: 6px 12px;
	text-align: center;
	width:25%;
	z-index: 9999;
	color: #fff;
	right:0;
	left:0;
	margin:auto;
	background-color:rgba(255, 1, 1, 0.8);
	padding:5px;
	line-height:20px;
}
.captionBtn1:hover {color:#eee; text-decoration:none}
.captionBtn1 {
	position: absolute;
	font-weight: 50;
	font-size: 1rem;
	bottom:12%;
	left: 0;
	padding: 6px 12px;
	text-align: center;
	width:35%;
	z-index: 9999;
	color: #fff;
	right:0;
	left:0;
	margin:auto;
	background-color:rgba(255, 1, 1, 0.8);
	padding:5px;
	line-height:20px;
}
.caption:hover {color:#eee; text-decoration:none}

.themeSec2 {background-color:#fff; padding:40px 0}
.themeSubs1 h2 {font-size:20px; color:#333; text-align:center; margin-bottom:50px}
.themeSubs1 {text-align:center;}
.aboutBio p{font-size:14px; color:#444}
.aboutBio h3 {font-size:18px; color:#444; text-align:center; margin-bottom:25px}
.themeSubs1 a.themeBtn { margin-top:25px; display:inline-block}
.captionBtm {color:#444; font-size:0.9em; background-color:#f7f7f7; padding:10px}
.artBox {width:100%; text-align:center}
.artBox h3 {font-size:18px; color:#444; text-align:center; margin:10px auto 0px}
.artBox h2 {font-size:16px; color:#df282c; text-align:center; margin:5px auto 5px }
.artBox span {font-size:14px; color:#444; text-align:center; margin:5px auto 5px; display:block}

footer {background-color:#e8e4e3; padding:40px 0}
.footerLink h4 {color:#333; font-size:1.1rem}
.footerLink ul {margin:0; padding:0; list-style:none; margin-bottom:25px;}
.footerLink ul li {display:block; list-style:none}
.footerLink ul li a {color:#555; text-decoration:none; font-size:0.8rem}
.footerLink ul li a:hover {color:#e53424}
.socialMedia {margin:20px 0}
.socialMedia ul{margin:0; padding:0; list-style:none}
.socialMedia ul li {display:inline-block;  list-style:none}
.iconShape {width:30px; height:30px; background-color:#333; border-radius:50%; display:block; text-align:center; line-height:30px; color:#fff}
.iconShape:hover{color:#e53424}

.newLetter h5{color:#333; font-size:1.1rem}
.newLetter h6{color:#333; font-size:0.8rem}


.newsBox input {border:1px solid #e53325; padding:3.4px; font-size:13px; background:none}
.newsBox button { background-color:#e53325; border:2px solid #e53325; color:#fff}
.card-text {text-align:center; color:#444; font-size:1rem; margin-top:5px}

/*Inner Page*/
.bgWhite {background-color:#fff}
.sectionAddcart{padding:40px 0} 
.themebBtn { background-color:tranparent; border:2px solid #e53424; background:none; color:#e53424; font-size:0.7rem; padding:0.3rem 0.5rem; margin-bottom:20px}
.themebBtn:hover {background-color:#e74132; border:2px solid #e53424;}

/*Product Page */
.productPbox .artBox{ margin-top:30px}
.itemList {margin:0; padding:0}
.itemList li {display:block; cursor:pointer; border-bottom:1px solid #e53424; margin-top:15px; color:#444; font-size:1rem}
.itemList li.active {color:#e53424; text-decoration:underline}

/*About Us */
.aboutUsbx .blockquote h3{ color: #e53424; font-size: 20px;  text-align:left }
.aboutUsbx  {margin-top:25px}

.aboutUsbx .artBox h3 {text-decoration:underline; margin-bottom:25px;}
/*Artist Page */
.themePegination { margin-top:25px; text-align:center}
.themePegination li a.page-link{ color:#e53424}

/*Uchaan Evetns Page */
.eventsBox .artBox img{ border:1px solid #ccc}
.eventsBox .artBox {margin-top:30px}

.aboutBio table {width:100%; color:#444}
.contentBx p{color:#444}

.testimonialBx p{ color: #444;
    font-size: 14px;}

.productBx table {color:#444; font-size:14px;}
.productBx .aboutBio h3 {text-align:left}

.paintingInfo p{color:#444; font-size:13px; margin-bottom:0}
.artBox .paintingInfo  h3,.artBox .paintingInfo span, .artBox .paintingInfo h2 { margin:0px auto 0}
.artBox .paintingInfo h2 {margin-bottom:20px;}


.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {color:#e53424}

.loginBox form h4{ font-size:18px}

.loginBox form label {font-size:15px; color:#444}
.loginBox form a {color:#e53424; font-size:15px;}

/*image zoom css*/

[data-spzoom] img {
    vertical-align: top;
}

.spzoom-zoom {
    z-index: 97;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 350px!important;
    height: 350px!important;
}
.spzoom-tracker {
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #ccc;
    z-index: 97;
}
.spzoom-title {
    font-size: 10px;
    color: #fff;
    background-color: #222;
    padding: 3px 5px;
    line-height: 14px;
}

/*imagage zoom css ends here*/

.mobileFilter {max-width:400px; margin:auto}
.mobileFilter h2 {font-size:14px; margin-bottom:5px}
.mobileFilter .form-control {width:98%}

.itemList li.active{text-decoration: none !important;}
.itemList li.active a{color: #e53424;}

a{color:#333;}
a:hover{color:#e53424; text-decoration: none;}
.view-a i {font-size: 12px}
.view-a:hover i {color:#e53424 !important;}

@media  (max-width: 767px) {
header {background-color:#e9e9e9; background-image:none}
.themeSubs1 {text-align:center; margin-bottom:30px;}
.logo, .topMenu, .searchBox   {margin:auto; text-align:center; margin-bottom:15px}
.myNav .nav-item .nav-link {padding-left:0}
.owl-nav{display:none}
.aboutBio h3 {margin-top:25px;}
.captionBtn1 {width:42%; bottom:14%}
.spzoom-zoom  {display:none!important}

}

@media (min-width: 992px) and (max-width: 1199px){
.myNav .nav-item .nav-link {font-size:15px}
}