@import "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300";
html { overflow-y: scroll; }
html, body { margin: 0 auto; padding: 0; border: 0; height: 100%; }

body { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px; font-weight: normal;
	line-height: 20px; margin: 0; padding: 0; color: #333; }

.wrapper { padding: 0px 20px; min-height: 85%; height: auto !important;
	height: 85%; margin: 0 auto -50px; 
}

#marqueecontainer { height: 300px; overflow: hidden;
    position: relative;	padding: 2% 0;	background: #fff;
	width: 100%; clear: both;
}

li a { text-decoration: none; color: #066; }
li a:hover { color: #900; }

a.lnk { text-decoration: none; color: #069; font-weight: 700; }
a.lnk:hover { color: #900; }

a.hdlnk { color: #006; font-size: 22px; font-weight: 300;
	font-family: "Yanone Kaffeesatz", sans-serif; margin: 0 10px 10px;
	line-height: 25px; text-decoration: none; display: inline-block; }

a.hdlnk:hover { color: #c00;  }

.alphalinks { text-align: center; color: #333; font-size: 14px;
	font-weight: normal; line-height: 20px; }
.alphalinks a { text-decoration: none; font-weight: bold; color: #069; 
	 padding: 0px 3px; font-size: 18px; }
.alphalinks a.active { color: #f00; font-size: 20px; 
	border: 1px solid #999; }

.row { margin: 0 auto; width: 100%;  }
.row::before, .row::after { content: " ";  display: table; } 
.row::after { clear: both; }

.high, .high a { color: #c00; font-size: 24px; text-decoration: none; 
font-weight: bold; 
-webkit-animation-name: blinker; -webkit-animation-duration: 5s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;

-moz-animation-name: blinker; -moz-animation-duration: 5s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;

 animation-name: blinker; animation-duration: 5s;
 animation-timing-function: linear; animation-iteration-count: infinite;
 }

 @-moz-keyframes blinker { 0% { opacity: 1.0; }
 50% { opacity: 0.5; }  }

@-webkit-keyframes blinker {   0% { opacity: 1.0; }
 50% { opacity: 0.5; }  }

@keyframes blinker {   0% { opacity: 1.0; }
 50% { opacity: 0.5; }  }

.high a:hover { color: #036; }

.footer-content { background: #333 none repeat scroll 0 0;
    bottom: 0; height: 30px; margin: 0 auto; font-size: 16px;
    padding: 2%; text-align: center;  width: 96%;  color: #fff;
	font-family: "Yanone Kaffeesatz", sans-serif; font-weight: normal; 
}

.frm2 input, .frm2 textarea { width: 96%; color: #666; padding: 5px;
	margin-bottom: 5px; border: 1px solid #ccc; }
.frm2 input.chk { width: 30px; }
.frm2 input.btn { color: #fff; }

.footer, .push { height: 50px; clear: both; }
.footer .links { float: right; padding-right: 20px; }
.footer .links a { color: #fff; text-decoration: none; padding: 0 10px;
	font-size: 16px;  }
.footer .links a:hover { color: #f69; }

.ps-slidewrapper { z-index: 999; }

.art-details { font-size: 16px; 
	font-family: "Yanone Kaffeesatz", sans-serif; }
.art-details .art-name { font-weight: bold; color: #069; 
	font-size: 18px; }
.art-details .lght { color: #999; font-size: 15px; }
.art-details a { text-decoration: none; color: #000; }
.art-details a:hover { color: #f66; }

.btn { border: 0; background: #3cc; color: #fff;
    cursor: pointer; text-decoration: none; display: block;
    font-family: "Yanone Kaffeesatz", sans-serif; text-align: center;
    font-size: 20px; padding: 4px 0; width: 98%; margin: auto; 
}

a.sendbtn { border: 0; background: #3cc; color: #fff;
    cursor: pointer; text-decoration: none; display: block;
    font-family: "Yanone Kaffeesatz", sans-serif; text-align: center;
    font-size: 20px; padding: 4px 0; width: 100%; margin: auto; }
a.sendbtn:hover { background: #099; }

#catlnks { margin: 0px; padding: 0px; }
#catlnks li { list-style-type: none; 
	padding: 8px 0; border-bottom: 1px dotted #e0e0e0; }
#catlnks li a { text-decoration: none; }

/* Micro Clearfix */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

h1 { font-size: 35px; text-align: right; margin: 10px 0px; 
	color: #fff; font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300; line-height: 60px;  padding-right: 20px;
	background: #ccc;
	background: -o-linear-gradient(right, #ccc, #000);
	background: -ms-linear-gradient(right, #ccc, #000);
	background: -webkit-linear-gradient(right, #ccc, #000);
	background: -moz-linear-gradient(right, #ccc, #000);
	background: linear-gradient(to right, #ccc, #000);
}

h2 { color: #006; font-size: 30px; font-weight: 300;
	font-family: "Yanone Kaffeesatz", sans-serif; margin: 5px 0 10px;
	line-height: 32px; }
h2 em { color: #f90; font-style: bold; }

h3 { font-size: 24px; text-align: center; margin: 0px; 
	color: #fff; font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300; line-height: 40px;  padding-right: 20px;
	background: #699;
	background: -o-linear-gradient(right, #699, #033, #699);
	background: -ms-linear-gradient(right, #699, #033, #699);
	background: -webkit-linear-gradient(right, #699, #033, #699);
	background: -moz-linear-gradient(right, #699, #033, #699);
	background: linear-gradient(to right, #699, #033, #699);
}

#header { background: #c00; height: 70px;  
	border-top: 5px solid #f90; border-bottom: 5px solid #0cc; 
	margin-bottom: 10px; }
.orange { background: #f90; color: white; padding: 0 15px 5px; 
	text-align: right; clear: both; font-weight: 400; 
	font-size: 18px; }

#logo { position: absolute; left:20px; top:0; padding: 15px 30px;
	background: #fff;  border: 1px solid #ccc; z-index: 999; }
#logo2 { display: none; margin: auto; text-align: center; }
#navbar { float: right; }

.ctr { text-align: center; }
.lt { text-align: left; }
.rt { text-align: right; }
.bld { font-weight: bold; color: #069; }

a img:hover { border: 0px solid #6cf; opacity: 0.8; }

.evt-name { font-weight: bold; font-size: 20px; color: #066; }
.evt-name a { font-weight: bold; font-size: 20px; color: #066;
	text-decoration: none; }
.evt-name a:hover { color: #f66; }

.artistname { font-weight: bold; font-size: 26px; color: #fff;
font-family: "Yanone Kaffeesatz", sans-serif; }
.evt-date { font-size: 14px; color: #666; }
.evt-loc {  color: #336; }

.artistimg { float: left; width: 15%; margin: 2% 1% 0%; 
	padding: 2% 1% 1%; border: 1px solid #ccc; text-align: center; }
.artistimg img { width: 80%; margin: auto; }
.art-name a { font-weight: bold; font-size: 20px; color: #066;
	text-decoration: none; }
.art-name a:hover { color: #f66; }

.avatar-section { width: 94%; margin: 0 0 20px; padding: 2%;
	border: 1px solid #ccc; text-align: center; }
.avatar-section img { width: 70%; margin: 20px auto; }

.blk20 { float: left; width: 18%; margin: 1% 1%; }
.blk25 { float: left; width: 23%; margin: 1% 1%; }
.blk30 { float: left; width: 28%; margin: 2% 1%; }
.blkr030 { float: right; width: 29%; margin: 2% 0% 2% 1%; }
.blkl040 { float: left; width: 39%; margin: 2% 1% 2% 0; }
.blk33 { float: left; width: 27%; padding: 2%; margin: 1%; 
	border: 1px solid #ccc; }
.blk40 { float: left; width: 35%; margin: 2%; }
.blkl40 { float: left; width: 37%; margin: 2% 2% 2% 0; }
.blk50 { float: left; width: 45%; margin: 2%; }
.blk60 { float: left; width: 56%; margin: 2% 1%; }
.blk70 { float: left; width: 68%; margin: 2% 1%; }
.blk75 { float: left; width: 73%; margin: 2% 1%; }
.blkl070 { float: left; width: 69%; margin: 2% 1% 2% 0%; }
.blkr060 { float: right; width: 59%; margin: 2% 0 2% 1%; }
.blk90 { float: left; width: 90%; margin: 2% 5%; }

.fl { float: left; } 
.fr { float: right; } 

.items { width: 49%; margin: 0 1% 30px 0; }

#emsgbox { z-index: 9999; position: absolute; top: 250px; left: 250px;
	padding: 20px; border: 1px solid #ccc; background: #fff; }
#emsg { cursor: pointer; }
.must { color: #c00; font-weight: bold; }

.frm1 input { width: 50%; }
.blkl40 input, .blk50 .txt { width: 100%; }
.hlptxt { font-size: 12px; color: #363; font-style: italic; }

.zoomimg { text-align: center; width: 95%; padding: 20px 2%; border: 1px solid #ccc; }

.curevt { padding: 1%; background: #ff9;
	background: -webkit-linear-gradient(left, #ff9 5%, #eee 50%, #ff9 100%);
	background: -ms-linear-gradient(left, #ff9 15%, #eee 50%, #ff9 100%);
	background: -moz-linear-gradient(left, #ff9 15%, #eee 50%, #ff9 100%);
	background: -o-linear-gradient(left, #ff9 15%, #eee 50%, #ff9 100%);
	background: linear-gradient(to right, #ff9 15%, #eee 50%, #ff9 100%);
	border: 1px solid #ccc; width: 98%; clear: both;
}

.banner { position: relative; overflow: auto; width: 100%;
	text-align: center; margin: auto; min-height: 490px;
	border: 1px solid #333;
	background: #fc3;
	background: -webkit-linear-gradient(left, #fc3 5%, #630 35%, #960 60%, #fc0 100%);
	background: -ms-linear-gradient(left, #fc3 5%, #630 35%, #960 60%, #fc0 100%);
	background: -moz-linear-gradient(left, #fc3 5%, #630 35%, #960 60%, #fc0 100%);
	background: -o-linear-gradient(left, #fc3 5%, #630 35%, #960 60%, #fc0 100%);
	background: linear-gradient(to right, #fc3 5%, #630 35%, #960 60%, #fc0 100%);
}

.catalogue2 { background: #fc3;
	background: -webkit-linear-gradient(left, #fcf 5%, #fc9 10%, #666 35%, #c96 80%, #cff 100%);
	background: -ms-linear-gradient(left, #fcf 5%, #fc9 10%, #666 35%, #c96 80%, #cff 100%);
	background: -moz-linear-gradient(left, #fcf 5%, #fc9 10%, #666 35%, #c96 60%, #cff 100%);
	background: -o-linear-gradient(left, #fcf 5%, #fc9 10%, #666 35%, #c96 80%, #cff 100%);
	background: linear-gradient(to right, #fcf 5%, #fc9 10%, #666 35%, #c96 80%, #cff 100%);
}

.banner li { list-style: none;  }
.banner ul li { float: left; }
.banner img { max-height: 400px; margin: auto; }
.profpic { border: 2px dashed #eee; }
.artpic { border: 10px ridge #630; }
.pic { border: 1px solid #333; margin: 0 0px 20px 50px; }
.bdr { border: 1px solid #999; }

.banner .dots { position: absolute; left: 0; right: 0;
		bottom: 5px; width: 100%; 	}

.banner .dots li { display: inline-block; 
	*display: inline; zoom: 1; margin: 0 3px;
	width: 18px; height: 18px; font-size: 12px;
	line-height: 16px; *text-indent: 0;
	border: 1px solid #fff; border-radius: 6px;
	cursor: pointer; opacity: .5; background: #fff;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.banner .dots li.active { background: #c00; color: #fff; opacity: 1; }
.banner .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}

.gallery img { border: 1px solid #333; }
.gallery img:hover { border: 1px solid #333; }

hr { color: #eee; margin: 20px 0; }
.contact { line-height: 30px; }
p { margin-bottom: 20px; text-align: justify; line-height: 24px; }

/****************************************************/
div.pagination { padding: 3px; margin: 3px; float: right;
	color: #3cc; }

div.pagination a { padding: 2px 5px 2px 5px; color: #3cc;
	margin: 2px 3px; border: 1px solid #3cc;	
	text-decoration: none; /* no underline */	
}

div.pagination a:hover, div.pagination a:active {
	border: 1px solid #3cc;	color: #000;
}

div.pagination span.current { 	padding: 2px 5px 2px 5px;
	margin: 2px; 	border: 1px solid #3cc; font-weight: bold;
	background-color: #3cc; 	color: #fff;
}

div.pagination span.disabled { padding: 2px 5px 2px 5px;
	margin: 2px; border: 1px solid #eee;
	color: #ddd;
}

#slider {   text-align: center; float: none; margin: auto;
    position: relative; width: 100%; z-index: 0;
}

.callbacks_nav.prev {     left: 0; }
.note { width: 100%; float: none; clear: both; margin: auto; }

/********* Media queries *****************/
@media all and (min-width: 1300px) {
	#slider { width: 65%; float: left; margin: 0 3%;	}
	.note { float: right; width: 20%; margin-right: 3%; clear: none; }
}

/*@media all and ( max-width: 1200px; ) {
	#slider {   width: 100%;  float: none;	}
	.note { width: 100%; float: none;  }
}*/

@media all and (max-width: 768px) {
	.wrapper { padding: 10px 0px; 	}
	.pic { margin: 0 5% 20px 5%; }
	.blk25, .blk30, .blk40, .blk60, .blk90, .blk70, .blk75, .blkl070,
	.blkr030, .blkl040, .blkr060, .items { width: 48%; margin: 3% 1%; }
	.blk33 { padding: 1%; width: 96%; margin: 3% 1%; }
	.blk20, .artistimg { width: 31%; margin: 3% 1%; }
	h1 { margin: 20px 0px 20px; height: 40px; line-height: 0px; }
	.banner { background: #fc3; padding: 10px;
	background: -webkit-linear-gradient(top, #fc3 5%, #630 35%, #960 60%, #fc0 100%);
	background: -ms-linear-gradient(top, #fc3 5%, #630 35%, #fc0 50%, #c00 75%, #fc0 100%);
	background: -moz-linear-gradient(top, #fc3 5%, #630 35%, #960 60%, #fc0 100%);
	background: -o-linear-gradient(top, #fc3 5%, #630 35%, #960 60%, #fc0 100%);
	background: linear-gradient(to bottom, #fc3 5%, #630 35%, #960 60%, #fc0 100%);
	}
	#logo { display:none;  }
	#logo2 { display: block;  }
	.art-details { font-size: 20px; text-align: center; }
	.art-details .art-name { font-size: 20px; margin: 5px; }
	.art-details .lght { font-size: 18px; margin: 5px; }
	.art-details a { font-size: 20px; margin: 15px; }
	#header { height: 95px; }
	.note { width: 100%; }
	#slider { display: none  }
}

@media all and (max-width: 480px) {
	.wrapper { padding: 5px 0px; 	}
	.blk25, .blk30, .blk40, .blk60, .blk90, .blk70, .blkl070, .blkr030,
	.blkl40, .blkl040, .blkr060, .blk75, .items { 
	width: 98%; margin: 3% 1%; }
	.artistimg, .blk20 { width: 43%; margin: 3% 1%; }

	h1 { margin: 45px 0px 10px; height: 40px; padding: 5px;
	font-size: 22px; line-height: 0px; }
	.orange { font-size: 16px; }
	
}


